body {
    background-color: lightgrey;
}

.header {
    background-color: white;
}

.header strong{
    font-size: 36px;
}

.header img{
    vertical-align: middle;
}

.header strong{
    vertical-align: middle;
}

main {
    width: 800px;
    background-color: white;
    margin:  0 auto;
    margin-top: 40px;
}

.button1 {
    background-color: lightblue;
    padding: 5px;
    margin-left: 20px;
    margin-top: 10px;
}

.button2 {
    color: gray;
    margin-left: 2px;
    margin-top: 10px;
    padding: 5px;  
}

ul {
     list-style: none;
}

#verify {
    display: inline-block;
    font-size: smaller;
    width: 15px;
    height: 15px;
    text-align: center;
    border-radius: 50%;
}

.check {
    color: lawngreen;
    border: 1px solid lawngreen;
}


.editorial {
    display: inline-block;
    height: 15px;
    width: 70px;
    text-align: center;
    color: white;
    font-size: small;
    border-radius: 5px; 
    background-color: cornflowerblue;
}

.cross {
    color: red;
    border: 1px solid red;
}